<h2 class="text-gray-700 font-bold text-lg text-center">Resend confirmation email</h2>

<div class="my-8">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

    <%= render "layouts/scripts/form_errors", obj: resource %>

    <div class="mb-4">
      <label>Email</label>
      <%= f.email_field :email, placeholder: "bruce@wayne-enterprises.com", autofocus: true, class: "input", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <%= f.submit "Resend email", class: "btn" %>
  <% end %>
</div>