<div class="h-screen flex justify-center items-center">
  <div class="w-1/2 p-16 rounded-lg bg-white shadow-lg">
    
    <h1 class="text-4xl font-black">Welcome!</h1>
    
    <p class="text-gray-700 text-xl">
      This is a <a href="https://github.com/ManuelFrigerio/rails-blueprint" target="_blank" class="text-gray-900 underline">Rails <%= Rails.version %> app boilerplate</a> by <a href="https://manuel.friger.io" target="_blank" class="text-gray-900 underline">Manuel Frigerio</a>
    </p>
    <div class="mt-6">
      <% if user_signed_in? %>
        <%= link_to "Log out".html_safe, destroy_user_session_path, method: :delete, class: "bg-red-300 rounded-lg border py-2 px-5 border-red-400 text-red-700" %>
      <% else %>
        <%= link_to "Signup", new_user_registration_path, class: "btn" %>
        <%= link_to "Login", new_user_session_path, class: "btn" %>
      <% end %>
    </div>
  </div>
</div>